@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* shared items */
.disply-flex{
    display: flex;
}
.text-color-dark1{
    color: rgba(19, 19, 19, 1);
}
.text-color-dark2{
    color: rgba(66, 66, 66, 1);
}
.text-colot-dark3{
    color: rgba(114, 114, 114, 1);
}
.primary-bg{
    background-color: rgba(255, 144, 14, 0.1);
}
.secondary-bg{
    background-color: rgba(255, 144, 14, 1);
}
.color-orange{
    color: #FF900E;
}
.button{
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
}
.font-size{
    font-size: 45px;
}

/* nav section */
.nav-container{
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    list-style: none;
}
.nav-link{
    text-decoration: none;
}
.nav-links{
    gap: 30px;
}
.nav-title{
    font-size: 2rem;
    font-weight: 800;
}
.nav-container, .banner-container{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner section */
.banner-content{
    max-width: 882px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 0;
}

.banner-img{
    width: 100%;
    margin-bottom: 45px;
}
/* main section */

.main{
    max-width: 1440px;
    margin: 0 auto;
}

/* our features section */

.features-conternt2{
    width: 537px;
}
.features-conternt1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.Features-container{
    align-items: center;
    justify-content: space-between;
    padding: 60px;
}
.features-titel1{
    margin-bottom: 0;
}
.features-title2{
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width:576px) {
    .nav-container, .nav-links, .Features-container{
        flex-direction:column;
    }
    .features-conternt1{
        grid-template-columns: repeat(1,1fr);
    }
    .features-conternt2{
        width: 100%;
        margin-left: 20px;
    }
}